@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebfcff;
}

main {
    background-color: #fff;
    width: 350px;
    padding: 16px;
    margin: 30px auto 0;
    text-align: center;
}

h1 {
    font-family: "Courier New";
    font-size: 64px;
    font-weight: normal;
}

.timer-container {
    background-color: lightgray;
    font-size: 48px;
    width: 100%;
    height: 128px;
    line-height: 128px;
    font-family: "Courier New";
}

button {
    all: unset;
    color: #fff;
    width: 100%;
    height: 64px;
    font-size: 24px;
    margin-top: 32px;
    cursor: pointer;
    transition: all .5s;
}

button:hover {
    opacity: 0.8;
}

button:active {
    transition: all .5s;
    opacity: 0.5;
}

#start-button {
    background-color: #2789c5;
}

#stop-button {
    background-color: #c52727;
}

#reset-button {
    background-color: #ffa500;
}